.body-container {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}

h1 {
  font-size: 2.5em
}

h2 {
  font-size: 1em;
  font-style: italic;
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

table.pairings {
    border-spacing: 0;
    margin: 1em 0;
}

.pairings tr {
    transition: .25s background-color;
}

.pairings tr:nth-child(even) {
    background-color: rgb(0,0,0,.05);
}

.pairings tr:hover {
    background-color: rgb(0,0,0,.1);
}

.pairings td.p2 {
    text-align: right;
    padding: 0 1em;
}

button.result {
    width: 120px;
}

.stateManagement {
  margin-top: 2em;
}

.stateManagement button {
  margin-right: 1em;
}

.copyright {
  margin-top: 2em;
  font-size: 50%;
  line-height: 1.5em;
  color: grey;
}
